extends layout

block content
  h1= title
  
  ul
    - opinion_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each opinion in opinion_list
      li 
        a(href=opinion.url) #{opinion.title} 
        |  (#{opinion.user.name})

    else
      li There are no opinions.